* {
  margin: 0;
  padding: 0;
}
body{
      background: url("../img/mountain.jpeg");
      background-size: cover;
}
.container {
  text-align: center;
  margin: 300px auto;
}
.container #timer {
  font-size: 36px;
  border: 1px solid #ccc;
  margin: 30px auto;
  padding: 50px;
  background-color: #000;
  color: #ffffff;
  border-radius: 3px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}
.container .btn {
  width: 100%;
}
