*{
    margin: 0;
    padding: 0;
}
.txt{
    position: relative;
    width: 300px;
    height: 300px;
    writing-mode: vertical-rl;
}
.txt-wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}