* {
    margin: 0;
    padding: 0;
}
@font-face{
    font-family: 'Geo';
    src: url(../fonts/GeosansLight.ttf);
}

body{
    background-color: #333333;
    font-family: 'Geo', sans-serif;
    color: #ffffff;
}
#header {
    width: 100vw;
    height: 100vh;
    /* background-image: url("../img/t19.jpg"); */
    background-color: aqua;
    position: relative;
    text-align: center;
}
#header .logo{
    position: absolute;
    width: 100%;
    top: 46%;
}
#header .logo img{
    width: 150px;
    height: 150px;
}
#header h1{
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 155px;
    letter-spacing: 0.1em;
}
#header span{
    color: #ec5f59;
}
.introduction{
    width: 100vw;
    height: 100vh;
    background-color: #333333;
    writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    color: #d1d1d1;
    font-size: 14px;
    letter-spacing: 5px;
    line-height: 45px;
    display: table;
}
.introduction-wrapper{
    width: 70%;
    display:table-cell;
    vertical-align: middle;
    padding: 15%;
}
.main-p,
.main-p2,
.main-p3,
.main-p4,
.main-p7,
.main-p9,
.main-p10{
    padding-left: 50px;
}
.about,
.service,
.works,
.contact{
    width: 100vw;
    height: 100vh;
}
/* About */
.about{
    background-image: url("../img/sougen.jpg");
}
.about .about-wrapper{
    width: 80%;
    height: 10rem;
    text-align: center;
    margin: 0 auto;
}
.about .about-wrapper h1{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}
.about .about-wrapper .about-shosai{
    background-color: #1a1a1a;
    opacity: 0.8;
    border-radius: 10px;
}
.about-shosai ul{
    display: table;
    margin: 0 auto;
}
.about-shosai ul li{
    display: table-cell;
    vertical-align: top;
    width: 50%;
}
.about-shosai ul li img{
    width: 80%;
}


/* About fin */
footer{
    background-color: #333;
    width: 100vw;
    height: 30vh;
    text-align: center;
    position: relative;
}
footer p{
    width: 100%;
    position: absolute;
    top:50%;
    font-size: 70px;
}
