* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f0f0f0;
  padding: 10px;
  font-size: 14px;
  color: #666;
}

.container {
  width: 800px;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
header {
  background-color: #422814;
  padding: 10px;
  color: #fff;
}
header h1 {
  margin: 0;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
}
.infomation h1{
    font-size: 18px;
    margin: 0 10px 10px 0;
}
.infomation .type{
    background-color: #E35A4D;
    display: inline;
    padding: 3px 5px;
    color: #fff;
}
.infomation .title{
    display: flex;
    align-items: flex-start;
}
.infomation .description{
    display: flex;
}

.infomation .description img{
    width: 200px;
    height: 200px;
}
