* {
  margin: 0;
  padding: 0;
}
body{
      font-family: Arial;
      text-align: center;
}
header{
      margin-bottom: 100px;
}
header h1{
      background-color: #000;
      color: #fff;
      margin: 0;
      padding: 10px;
      font-size: 18px;
}
.container .date{
      font-size: 300%;
      font-family: 'Times New Roman', Times, serif;
}