* {
  margin: 0;
  padding: 0;
}
body{
  margin: 0;
  padding: 0;
  background-color: rgba(26, 55, 229, 0.06);
}
header{
  background-color: #007acc;
  color: #fff;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
}
header h1{
  margin: 0;
  font-size: 25px;
  padding: 5px;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
}
.container{
  max-width: 600px;
  margin: 0 auto;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
}
.container img{
  width: 100%;
  margin: 0;
  vertical-align: top;
}
.container .photo{
  position: relative;
}
.container .photo .inner{
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 10px;
  color: #fff;
  margin: 0;
  width: 100%;
}
.container .photo .inner p{
  padding: 20px;
}
.container .photo .inner span{
  margin-left: 10px;
}